@import "tailwindcss";

@theme {
  --color-evergreen: #1D3B2A;
  --color-elixir: #D4AF37;
  --color-chamomile: #F2E7C9;
}

html,
body {
  overscroll-behavior: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #F2E7C9;
  color: black;
}